@import "tailwindcss";

@font-face {
    font-family: 'Galmuri11 Condensed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Condensed.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'Galmuri11 Condensed', sans-serif !important;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
